body {
  background-color: #D3E1FF;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div, button {
  margin: 15px;
}

.btn {
  border: none;
  border-radius: 0.5em;
  padding: 10px;
  background-color:#4C5FF7;
  color: #ffffff;
}

.getRecommendBtn:hover {
  background-color: #ffffff;
  color: #4C5FF7;
  border: 0.2px #4C5FF7 solid;
}

.track-container {
  padding: 10px;
}

.track-text-container {
  text-align: left;
  color: #4C5FF7;
  overflow: hidden;
}

.track-img {
  float: left;
  margin-right: 10px;
}